<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ClearView Hotels Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/clearview/home}"><b><i>ClearView</i></b><span sec:authorize="isAuthenticated()" th:text="':  Welcome, '+${#authentication.principal.firstName}"></span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/clearview/home}">Home</a></li>
                <li class="nav-item" th:if="${hotel == null}"><a class="nav-link active" aria-current="page" th:href="@{/clearview/hotels}">Hotels</a></li>
                <li class="nav-item" th:if="${hotel != null}"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}}">Hotel</a></li>
                <li class="nav-item" th:if="${hotel == null}"><a class="nav-link active" aria-current="page" th:href="@{/clearview/employees}">All Employees</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" th:if="${hotel != null}"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}+'/employees'}">Hotel Employees</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" th:if="${hotel != null}"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}+'/customers/form'}"><button class="btn btn-primary">New Customers</button></a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/clearview/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
            <h3 th:if="${hotel != null}" th:text="${hotel.name} + ' Customers'"></h3>
            <h3 th:if="${hotel == null}">All Customers</h3>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Email</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Phone Number</th>
                <th scope="col">Hotel ID</th>
                <th scope="col">Room Number</th>
                <th scope="col">Room Phone Number</th>
                <th scope="col">Active</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col" th:if="${hotel != null}">Room Assign</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <th scope="row" th:text="${customer.id}">1</th>
                <th th:text="${customer.user.firstName}">1</th>
                <td th:text="${customer.user.lastName}">Mark</td>
<!--                admin can view customer details-->
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${customer.user.email}">Mark</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${customer.phoneNumber}">Not Available</td>
                <td th:if="${customer.hotel != null}" th:text="${customer.hotel.id}">Available</td>
                <td th:if="${customer.hotel == null}">Not Available</td>
<!--                new customer dont have a room assigned automatically: checking for room-->
                <td th:text="${customer.room != null} ? ${customer.room.roomNumber} : 'Not Assigned'">Available</td>
                <td th:text="${customer.room != null} ? ${customer.room.phoneNumber} : 'Not Available'">Available</td>
                <td th:text="${customer.active}">Available</td>
<!--                admin assign customer room-->
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:if="${customer.room == null and customer.active == true and hotel != null}"><a th:href="@{'/clearview/hotels/'+${hotel.id}+'/customers/'+${customer.id}+'/assignroom'}"><button class="btn btn-primary">Assign Room</button></a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:if="${customer.room != null and hotel != null}">Assigned</td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:if="${customer.active  == false and hotel != null}">Inactive</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>