<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ClearView Hotels Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/clearview/home}">ClearView</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/clearview/home}">Home</a></li>
                <li class="nav-item" th:if="${hotel == null}"><a class="nav-link active" aria-current="page" th:href="@{/clearview/hotels}">Hotels</a></li>
                <li class="nav-item" th:if="${hotel != null}"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}}">Hotel</a></li>
                <li class="nav-item" th:if="${hotel == null}"><a class="nav-link active" aria-current="page" th:href="@{/clearview/customers}">All Customers</a></li>
                <li class="nav-item" th:if="${hotel != null}"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}+'/customers'}">Hotel Customers</a></li>
                <li class="nav-item" th:if="${hotel != null}"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}+'/employees/form'}"><button class="btn btn-primary">New Employee</button></a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/clearview/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
<!--        check for hotel object before displaying head-->
        <h3 th:if="${hotel != null}" th:text="${hotel.name} + ' Employees'"></h3>
        <h3 th:if="${hotel == null}">All Employees</h3>
            <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Title</th>
                <th scope="col">Salary</th>
                <th scope="col">Reports to</th>
                <th scope="col">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}"><a th:href="@{'/clearview/employees/'+${employee.id}}">
                <th scope="row" th:text="${employee.id}">1</th>
                <td th:text="${employee.firstName}">Room</td>
                <td th:text="${employee.lastName}">Room</td>
                <td th:text="${employee.email}">Room</td>
                <td th:text="${employee.address}">Room</td>
                <td th:text="${employee.city}">Room</td>
                <td th:text="${employee.state}">Room</td>
                <td th:text="${employee.zipCode}">Room</td>
                <td th:text="${employee.phoneNumber}">Room</td>
                <td th:text="${employee.title}">Room</td>
                <td th:text="${#numbers.formatCurrency(employee.salary)}">Room</td>
                <td th:text="${employee.employeeManager.id}">Room</td>
                <td th:text="${employee.active}">Room</td>
            </a></tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>