<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ClearView Hotels Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" th:href="@{/clearview/home}"><b><i>ClearView</i></b><span sec:authorize="isAuthenticated()" th:text="':  Welcome, '+${#authentication.principal.firstName}"></span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/clearview/home}">Home</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id} +'/employees'}">Hotel Employees</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'/clearview/hotels/'+${hotel.id}+'/customers'}">Hotel Customers</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/clearview/logout}">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>
<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h3 th:text="${hotel.name}"></h3>
        <table class="table table-striped table-hover">
<!--            table head-->
            <thead>
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Number of Rooms</th>
                <th scope="col">Number of Bathrooms</th>
                <th scope="col">Rate per month</th>
                <th scope="col">Vacancy</th>
            </tr>
            </thead>
<!--            table body-->
            <tbody>
                <tr th:each="room : ${rooms}">
                    <th scope="row" th:text="${room.roomNumber}">1</th>
                    <td th:text="${room.phoneNumber}">Room</td>
                    <td th:text="${room.numOfRooms}">Room</td>
                    <td th:text="${room.numOfBathrooms}">Bath</td>
                    <td th:text="${#numbers.formatCurrency(room.ratePerMonth)}">Rate</td>
                    <td th:if="${!room.vacancy}">Not Available</td>
                    <td th:if="${room.vacancy}">Available</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>